@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Julien Khabbaz</p>
    <p>B2 INFORMATIQUE</p>
    <p>https://github.com/julienkhabbaz/bikewatcher.git</p>
</div>
